<!DOCTYPE html>
<html>
	<head>
		<title>OmicsSource</title>
		<link rel = "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel ="stylesheet" href="/stylesheets/landing.css">
	</head>
<body>


<div class="bg">
	<h1>OmicsSource</h1>
	<div class = "text-center">
	<a href="/tools" class="btn btn-success" role="button">View All Tools</a>
	</div>
</div>

	</body>
</html>